:root {
  /*DECLARAR VARIAVEIS: atalhos para as cores principais do projeto */
  --azul: #5176c7; /*AINDA NAO DEFINIDO*/
  --branco: rgb(255, 255, 255);
  --azul_ecm: rgb(0, 130, 199);
  --amarelo_ecm: rgb(239, 174, 51);
}

* {
  /*reset de todos os estilos (para inicio de projeto)*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 20px Arial, sans-serif;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  header .container {
      display: flex;
      flex-direction: column;
  }

  .botao {
      margin-top: 5px;
      width: 190px;
  }

}

@media screen and (min-width: 1000px) {
  .descricao {
      width: 50%;
  }

}
/* 

.titulo {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: var(--azul_ecm);
  border-bottom: #080808;
}

.nav-contato {
  background-color: var(--amarelo_ecm);
  margin: 0px;
}

.nav-container {
  margin-left: 20px;
  width: 200%;
  background-color: var(--amarelo_ecm);
  color: rgb(0, 0, 0);
}

.text-style {
  color: black;
}

.text-link {
  color: blue;
}

.empresa {
  background-color: var(--branco);
  margin: auto 20px 0px 30px;
}

.servicos {
  background-color: var(--branco);
  margin: 60px 20px 20px;
}

.box {
  height: 100%;
  width: 100%;
  display: block;
}

.carrosel-servico {
  margin-top: 20px;
  margin-left: 270px;
  margin-right: 270px;
}

.legenda {
  background-color: var(--amarelo_ecm);
  margin: 0px;
  text-align: center;
}

.contato {
  background-color: var(--azul_ecm);
  margin: 0px;
}

.texto {
  font: 30px Arial, sans-serif;
  font-style: inherit;
}
 */
