:root {
  /*DECLARAR VARIAVEIS: atalhos para as cores principais do projeto */
  --azul: #5176c7; /*AINDA NAO DEFINIDO*/
  --branco: rgb(255, 255, 255);
  --azul_ecm: rgb(0, 130, 199);
  --amarelo_ecm: rgb(239, 174, 51);
  --background_ecm: rgb(26, 34, 53);
}

* {
  /*reset de todos os estilos (para inicio de projeto)*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
header {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 190px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}