div.Layout {
  display: grid;
  height: 100vh;
  grid-template:
    "header" 25px
    "." 0px
    "body" 1fr / 100% 1fr;
}

div.Layout > section {
  background: white;
}

section.Layout__Menu {
  display: flex;
  grid-area: menu;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}

section.Layout__Menu > * {
  margin: 12px 0;
}

section.Layout__Header {
  grid-area: header;
}

section.Layout__Header > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

section.Layout__Body {
  grid-area: body;
}

section.Layout__Body > div {
  margin: 20px auto;
  width: 95%;
}
