.ant-carousel .slick-dots li button {
  background-color: var(--azul_ecm);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active button {
  background-color: var(--amarelo_ecm);
}

.video {
  width: 100%;
  height: 100%;
}
